[Unit]
Description=Will Site Python Web Service
After=network.target

[Service]
Type=simple
User=will
Group=will
WorkingDirectory=/home/will/willsite_webservice

ExecStart=/usr/bin/python3 /home/will/willsite_webservice/wsgi.py

Restart=always
RestartSec=5

StandardOutput=append:/home/will/willsite_webservice/willsite.log
StandardError=append:/home/will/willsite_webservice/willsite-error.log

[Install]
WantedBy=multi-user.target